#divMain * {
	margin: 10px;
}

#ricercaClientePerNomeForm {
	margin: 6px;
}

#ricercaClientePerNomeForm {
	display: none;
}

#listaClientiPerNomeCercato {
	display: none;
}

#uploadFattura {
	display: none;
}