#divMain * {
	margin: 10px;
}

#ricercaSCPerNomeForm {
	margin: 6px;
}

#ricercaSCPerNomeForm {
	display: none;
}

#listaSCPerNomeCercato {
	display: none;
}

#uploadFattura {
	display: none;
}